[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1"
daphne = "*"
channels = "*"
djangorestframework = "==3.14.0"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-factory-boy = "*"

[dev-packages]

[requires]
python_version = "3.11"
